main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: rgb(19, 50, 50);
}



main > *{
    align-items: center;
    justify-content: center;
    margin: 0em 2em;
}

main > div {
    width: 40%;
}

body {
    background-image: linear-gradient(
        to bottom,
        rgba(157, 0, 255, 0.345),
        rgba(0, 0, 255, 0.355)
    ),url('background.png');
    background-size: auto;
}

#homedescribe {
    font-size: 4em;
}