main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    height: max-content;
}

main > *{
    align-items: center;
    justify-content: center;
    margin: 0em 2em;
    font-size: 2em;
}

main > div {
    width: 40%;
}
